################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows/client_secret.json
.vscode/*
.idea/workspace.xml
